@model Photo_Video_Studio.Models.Gallery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/Public/images/@Model.Image" alt="Alternate Text" />
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href="@Url.Action("Index","Gallery")">Back to List</a>
</p>
