@using Photo_Video_Studio.Models
@model List<Staff>

<select class="form-control HireformItems videoSelectList">
    @foreach (var item in Model)
    {
        <option value="@item.ID">@item.Firstname @item.Lastname</option>
    }
</select>
