@model IEnumerable<Photo_Video_Studio.Models.Partner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="Partner/Create" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Public/images/@item.Image" alt="Alternate Text" />
        </td>
        <td>
            <a href="@Url.Action("Edit", "Partner", new { id =item.ID })" class="btn btn-warning"><i class="far fa-edit"></i></a>|
            <a href="@Url.Action("Delete", "Partner", new { id =item.ID })" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>

        </td>
    </tr>
}

</table>
