<section id="serviceHead">
    <img src="~/Public/images/banner5.png" alt="">
    <div class="serviceLayout"></div>
    <h1>SERVICE</h1>
    <p class="serviceSubtitle"><span>Service</span> Errors</p>
</section>
<section id="error">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="~/Public/images/Error.png" alt=""></div>
            <div class="col-md-6">
                <h2>Oops, page not found!</h2>
                <h4>We can't find the page you're looking for</h4>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, majority have suffered alteration in some form, by injected humour, or
                    which don't look even slightly believable. Or go back to <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

