*{
    font-family: 'Montserrat', sans-serif;
}


#blogHead{
    position: relative;
    img{
        width: 100%;
    }
    .blogLayout{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        height: 466px;
    }
    h1{
        color: #e5e5e54d;
        font-size: 5em;
        font-family: 'Archivo Black', sans-serif;  
        position: absolute;
        top: 50%;
        left: 43%; 
    }
    .blogSubtitle{
        position: absolute;
        top: 56%;
        left: 48%;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        color: white;
        span{
            font-weight: 1000;
            color: #d50000;
            font-family: 'Archivo Black', sans-serif;   
        }
    }
}
@media screen and (min-width:320px) and (max-width:767px){
    #blogHead{
        img{
            height: 170px;
        }
        .blogLayout{
            height: 170px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 25%; 
        }
        .blogSubtitle{
            top: 60%;
            left: 36%;
            font-size: 1em;
        }
    }  
}
@media screen and (min-width:768px) and (max-width:1023px){
    #blogHead{
        img{
            height: 270px;
        }
        .blogLayout{
            height: 270px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 42%; 
        }
        .blogSubtitle{
            top: 56%;
            left: 47%;
            font-size: 1em;
        }
    }  
}
@media screen and (min-width:1024px) and (max-width:1365px){
    #blogHead{
        img{
            height: 270px;
        }
        .blogLayout{
            height: 270px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 42%; 
        }
        .blogSubtitle{
            top: 56%;
            left: 47%;
            font-size: 1em;
        }
    }  
}



#singleBlog{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    .blogHeader{
        text-align: center;
        color: #e5e5e5;
        font-size: 5.5em;
        font-family: 'Archivo Black', sans-serif;  
        padding-bottom: 4%; 
       }
    .blogSubtitle{
            position: absolute;
            top: 2.5%;
            left: 45%;
            font-size: 1.7em;
            font-family: 'Montserrat', sans-serif;
            span{
                color: #d50000;
                font-weight: 900;
                font-family: 'Archivo Black', sans-serif;   
            }
    }
    img{
        width: 100%;
    }
    .singleText{
        .blogName{
            padding: 4% 0 2% 0;
            font-size: 1.7em;
            font-weight: bold;
            transition: all 1s ease-in-out;
            &:hover{
                cursor: pointer;
                color: #d50000;
            }
        }
        .blogUser{
            a{
                color: black;
                text-decoration: none;
                transition: all 1s ease-in-out;
                font-size: 1em;
                &:hover{
                    cursor: pointer;
                    text-decoration: none;
                    color: #d50000;
                }
            }
            padding-block-end: 3%;
        }
        .blogP{
            color: #777777;
            line-height: 1.7em;
        }

        .commetPart{
            padding: 5% 0;
            .commentsHeader{
                padding: 4% 0;
                font-size: 1.6em;
                font-weight: bold;
            }
            img{
                width: 70%;
                border-radius: 100%;
            }
            .commentUser{
                font-weight: bolder;
                color: #d50000;
                span{
                    color: black;
                }
                padding-bottom:1%; 
            }
            .commentText{
                font-size: 0.9em;
                line-height: 1.7em;
                color: #777777;
            }
            textarea{
                margin-top: 3%;
            }
            .postComment{
                display: inline-block;
                margin-top: 4%;
                padding: 2%;
                background-color: #777777;
                color: white;
                text-decoration: none;
                transition: all 1s ease-in-out;
                &:hover{
                    background-color: #d50000;
                }
            }
        }
    }

    .recentPart{
        input{
            margin-left: 8%;
            padding: 3%;
            border: 1px solid rgba(26, 25, 25, 0.253);
            margin-right: -4px;
            border-right: transparent;
        }
        button{
            padding: 3.71%;
            border: transparent;
            transition: all 1s ease-in;
            &:hover{
                cursor: pointer;
                background-color: #d50000;
                i{
                    color: white;
                }
            }
        }
        .recentHeader{

            margin-left: 7.5%;
            padding-top: 10%;
            padding-bottom: 4%;
            font-weight: bold;
        }
        .recentImgDiv{
            margin-bottom: 5%;
            img{
                width: 80%;
                margin-left: 28%;
            }
            }
            .recentTextDiv{
                h3{
                    a{
                        color: black;
                        text-decoration: none;
                        font-weight: bold;
                        transition: all 1s ease-in;
                        &:hover{
                            color: #d50000;
                        }
                    }
                }
                p{
                    font-size: 0.8em;
                    line-height: 1.4em;
                }
                .recentReadMore{
                    color: #d50000;
                    padding-top: 3%;
                    display: inline-block;
                    &:hover{
                        text-decoration: none;
                    }
                }
                
            }

            .popularTags{
                margin-left: 5%;
            }
            .spanDiv{
                margin-left: 5%;
            .tagSpan{
                background-color: #eee;
                padding: 3%;
                display: inline-block;
                margin-top: 2%;
                transition: all 1s ease-in-out;

                a{
                    color: black;
                    text-decoration: none;
                }
                &:hover{
                    background-color: #d50000;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    

}
@media screen and (min-width:320px) and (max-width:767px){
    #singleBlog{
        .blogHeader{
            font-size: 5.5em;
            padding-bottom: 4%; 
           }
        .blogSubtitle{
                top: 1.5%;
                left: 33%;
                font-size: 1.7em;
               
        }
        .singleText{
            .blogName{
                padding: 4% 0 2% 0;
                font-size: 1.7em;
            }
            .blogUser{
                a{
                    font-size: 1em;
                }
                padding-block-end: 3%;
            }
            .blogP{
                line-height: 1.7em;
                font-size: 0.7em;
            }
    
            .commetPart{
                padding: 5% 0;
                .commentsHeader{
                    padding: 4% 0;
                    font-size: 1.6em;
                }
                img{
                    width: 70%;
                    border-radius: 100%;
                }
                .commentUser{
                    padding-bottom:1%; 
                }
                .commentText{
                    font-size: 0.6em;
                    line-height: 1.7em;
                }
                textarea{
                    margin-top: 3%;
                    width: 100%;
                }
                .postComment{
                    margin-top: 4%;
                    padding: 2%;
                }
            }
        }
    
        .recentPart{
            input{
                margin-left: 8%;
                padding: 3%;
                margin-right: -4px;
            }
            button{
                padding: 3.71%;
            }
            .recentHeader{
    
                margin-left: 7.5%;
                padding-top: 10%;
                padding-bottom: 4%;
            }
            .recentImgDiv{
                margin-bottom: 5%;
                img{
                    width: 80%;
                    margin-left: 28%;
                }
                }
                .recentTextDiv{
                    p{
                        font-size: 0.8em;
                        line-height: 1.4em;
                    }
                    .recentReadMore{
                        padding-top: 3%;
                        display: inline-block;
                    }
                    
                }
    
                .popularTags{
                    margin-left: 5%;
                }
                .spanDiv{
                    margin-left: 5%;
                .tagSpan{
                    padding: 3%;
                    margin-top: 2%;
    
                }
            }
        }
        
    
    } 
}
@media screen and (min-width:768px) and (max-width:1023px){
    #singleBlog{
        .blogHeader{
            font-size: 5.5em;
            padding-bottom: 4%; 
           }
        .blogSubtitle{
                top: 2.5%;
                left: 42%;
                font-size: 1.7em;
               
        }
        .singleText{
            .blogName{
                padding: 4% 0 2% 0;
                font-size: 1.7em;
            }
            .blogUser{
                a{
                    font-size: 1em;
                }
                padding-block-end: 3%;
            }
            .blogP{
                line-height: 1.7em;
                font-size: 0.7em;
            }
    
            .commetPart{
                padding: 5% 0;
                .commentsHeader{
                    padding: 4% 0;
                    font-size: 1.6em;
                }
                img{
                    width: 70%;
                    border-radius: 100%;
                }
                .commentUser{
                    padding-bottom:1%; 
                }
                .commentText{
                    font-size: 0.6em;
                    line-height: 1.7em;
                }
                textarea{
                    margin-top: 3%;
                    width: 100%;
                }
                .postComment{
                    margin-top: 4%;
                    padding: 2%;
                }
            }
        }
    
        .recentPart{
            input{
                margin-left: 4%;
                padding: 3%;
                margin-right: -4px;
                width: 76%;
                
            }
            button{
                padding: 3.71%;
            }
            .recentHeader{
    
                margin-left: 7.5%;
                padding-top: 10%;
                padding-bottom: 4%;
            }
            .recentImgDiv{
                margin-bottom: 5%;
                img{
                    width: 80%;
                    margin-left: 28%;
                }
                }
                .recentTextDiv{
                    h3{
                        font-size: 0.7em;
                    }
                    p{
                        font-size: 0.7em;
                        line-height: 1.4em;
                    }
                    .recentReadMore{
                        padding-top: 3%;
                        display: inline-block;
                    }
                    
                }
    
                .popularTags{
                    margin-left: 5%;
                }
                .spanDiv{
                    margin-left: 5%;
                .tagSpan{
                    padding: 3%;
                    margin-top: 2%;
    
                }
            }
        }
        
    
    } 
}



