*{
    font-family: 'Montserrat', sans-serif;
}

#registerHead{
    position: relative;
    img{
        width: 100%;
    }
    .registerLayout{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.746);
        height: 466px;
    }
    h1{
        color: #e5e5e5a1;
        font-size: 5em;
        font-family: 'Archivo Black', sans-serif;  
        position: absolute;
        top: 50%;
        left: 39%; 
    }
    .registerSubtitle{
        position: absolute;
        top: 56%;
        left: 50%;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        color: white;
        span{
            font-weight: 1000;
            color: #d50000;
            font-family: 'Archivo Black', sans-serif;   
        }
    }
}
@media screen and (min-width:320px) and (max-width:767px){
    #registerHead{
        img{
            height: 170px;
        }
        .registerLayout{
            height: 170px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 15%; 
        }
        .registerSubtitle{
            top: 60%;
            left: 38%;
            font-size: 1em;
        }
    }  
}
@media screen and (min-width:768px) and (max-width:1023px){
    #registerHead{
        img{
            height: 270px;
        }
        .registerLayout{
            height: 270px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 42%; 
        }
        .registerSubtitle{
            top: 56%;
            left: 48%;
            font-size: 1em;
        }
    }  
}
@media screen and (min-width:1024px) and (max-width:1365px){
    #registerHead{
        img{
            height: 270px;
        }
        .registerLayout{
            height: 270px;
        }
        h1{
            font-size: 3em;
            top: 50%;
            left: 42%; 
        }
        .registerSubtitle{
            top: 56%;
            left: 48%;
            font-size: 1em;
        }
    }  
}



#registration{
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
    .textInput{
        width: 100%;
        padding: 2%;
    }
    input{
        margin-bottom: 5%;
        outline: none;
    }
    label{
        font-size: 1.2em;
        margin-bottom: 2%;
    }
    .register{
        margin-top: 6%;
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 3% 6%;
        background-color: #777;
        transition: all 1s ease-in-out;
        &:hover{
            background-color: #d50000;
        }
        margin-bottom: 8%;
    }

}