@model Photo_Video_Studio.Models.AboutHeader

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            <img src="~/Public/images/@Model.Image" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            <a href="@Url.Action("Edit", "AboutHeader", new { id =Model.ID })" class="btn btn-warning"><i class="far fa-edit"></i></a>|
        </td>
    </tr>


</table>
